# Dependency directories
node_modules/

# dotenv environment variables file
.env

# Serverless directories
.serverless
/front/build/
react-nodebird.pem

# aws-ec2-access-key
e-Library.pem
e-Library-aws.pem
node_modules
.next
.env

# misc
.DS_Store